<!doctype html>
<html lang="en">
  <head>
    <title>Jobs</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <nav class="indigo darken-4">
           <ul class="right">
                <li><a class="btn" href="/logout">Logout Here</a></li>
           </ul>
           {% for per in person %}
           <ul class="right">
                <li><a class="btn" href="/add_job">Add a Job</a></li>
            </ul>
          
            <h1 class="display-4">Welcome {{ per.first_name }}</h1>
            {% endfor %}
        </nav>
        <div>
          <h4>Your Job's</h4>
          <table>
            <tr>
              <th>Job Name</th>
              <th>Actions</th>
            </tr>
                {% for j in jobs %}
                <tr>
                  <td>{{ j.job }}</td>
                  <td>
                    {% if request.session.id == j.job_creater %}
                      <a href="/delete/{{j.id}}">Delete</a>
                      <a href="/edit_job/{{j.id}}">Edit</a>
                      {% endif %}
                      <a href="/cancel/{{j.id}}">Cancel</a>
                      <a href="/done/{{j.id}}">Done</a>
                      <a href="/show_job/{{j.id}}">View Job</a>     
                  </td>
                </tr>
                {% endfor %}
          </table>
        </div>
        <div>
          <h4>Available Job's</h4>
          <table>
            <tr>
                <th>Job</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
          {% for o in others_jobs %}
              <tr>
                  <td>{{ o.job }}</td>
                  <td>{{ o.location }}</td>
                  <td><a class="btn" href="/show_job/{{o.id}}">View</a> 
                      <a class="btn" href="/join/{{o.id}}">Add job</a>
                      {% for per in person %}
                      {% if per.id == o.job_creater %}
                      <a class="btn" href="/edit_job/{{o.id}}">Edit</a>
                      <a class="btn" href="/delete/{{o.id}}">Delete</a>
                      {% endif %}
                      {% endfor %}
                      
            
                  </td>
              </tr>
           
           {% endfor %}
          </table>
        </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>